// add customs styles and general overrides here
// due to the cascading nature of css, if you try to override theme css variables in this file, those changes will not apply. Instead, override css variables in the `override.sass` file
// we recommend not editing this file directly. Instead, create an `assets/sass/_custom.sass` file at the root level of your site.
// if you edit this file directly, you will have to resolve git conflicts when and if you decide to pull changes we make on the theme

.logo
    height: 3rem

.accent
  color: $htb

.border
    height: 2px
    background: $htb
    content: ''
    -webkit-box-flex: 1
    -ms-flex: 1 1 auto
    flex: 1 1 auto
    margin-left: 15px
    min-width: 30px

.bg
    max-width: 90%

.widget .widget-title
  letter-spacing: 0.25px

#single #comments.hosted .comment .bordered.comment-author, .title.bordered
  position: relative
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center

#single #comments.hosted .comment .medium.comment-author, .title.medium
  font-size: 24px
  line-height: 1.4
  margin-bottom: 30px

#single #comments.hosted .comment .comment-author, .title
  font-family: "Josefin Sans",sans-serif
  font-weight: 700
  font-size: 30px
  margin-bottom: 40px
  line-height: 1.45
  letter-spacing: 0px

.footer_image
  margin-right: 10px
  max-width: 7rem

.footer-copyright
  padding-bottom: .8rem
  color: #fff

.center
  display: block
  margin-left: auto
  margin-right: auto
  width: 50%

.d-flex
    display: flex !important;

.align-items-center
    align-items: center
    margin-bottom: 15px

.slideshow .slide
  &:after
    content: ""
    position: absolute
    display: block
    left: 0
    width: 100%
    height: 40%
    bottom: 0
    background: rgba(29,40,53,0.25)
    z-index: 1

  .caption
    z-index: 2

.slideshow
  overflow: hidden
  position: relative
  width: 100%
  height: 380px
  z-index: 1
  border-radius: 30px

  .slideshow-inner
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

  .slides
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1

  .slide
    display: none
    overflow: hidden
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1
    opacity: 0
    transition: opacity 0.3s ease
    border-radius: 30px
    
    &.is-active
      display: flex
      justify-content: left
      align-items: end

    &.is-loaded
      opacity: 1

    .caption
      padding: 1.5rem 
      z-index: 2

    .reading-time
        line-height: 1.875

        &.reading-time::before
            content: ""
            margin-right: .5rem
            height: 15px
            border: 1px solid

    .badge-bg-color-blue-nav-active, 
    .badge-htb-hollow
        color: #a4b1cd;
        font-weight: 500;
        font-size: 13px;
        padding: 6px;

    .badge-bg-color-blue-nav-active
        background-color: #1a2332;
        line-height: 24px;
        border-radius: 2px;

        

    .image-container
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-position: center
      z-index: 1
      background-size: cover
      image-rendering: optimizeQuality



      &::before
        content: ""
        display: block
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-image: linear-gradient(to bottom right,rgba(0,0,0,0.5),rgba(0,0,0,0.5));
      
      &:hover
        transition: all .5s;
        transform: scale(1.05)

    .image
      width: 100%
      width: 100%
      object-fit: cover
      height: 100%
      border-radius: 30px
      margin: auto auto;



  .slide-content
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    z-index: 2
    color: #fff
    text-align: left
    

  .slide
    .title
      margin: 0 0 15px
      max-width: 1000px
      font: 600 32px "Oswald", sans-serif
      letter-spacing: .2px;

    .date
      font-size: 13px
      margin-left: 1rem
      padding-top: .25rem !important
      margin-bottom: 0 !important
      line-height: 1.4

    .btn
      margin: 15px 0 0
      border-color: #fff

      &::before
        background: #fff


  .sp
    position: absolute
    bottom: 35px
    left: 0
    width: 100%
    height: 12px
    cursor: default
    z-index: 2
    text-align: center
    display: block !important

    .item
      display: inline-block
      padding: 15px 5px
      position: relative
      width: 46px
      height: 32px
      cursor: pointer
      text-indent: -999em
      z-index: 1

      + .page
        margin-left: -2px

      &::before
        content: ""
        display: block
        position: absolute
        top: 15px
        left: 5px
        width: 36px
        height: 2px
        background: rgba(255, 255, 255, 0.5)
        transition: background 0.2s ease

      &::after
        width: 0
        background: #fff
        z-index: 2
        transition: width 0.2s ease

      &:hover::before, &.is-active::before
        background-color: #fff

.title-bar .bar
  height: 2px
  width: 45px
  background-color: var(--accent)
  margin-bottom: 5px

  &.bar-2
    width: 30px

  &.bar-3
    width: 20px

.section-title h4
  color: var(--light)
  line-height: 1
  text-transform: uppercase
  margin: 0 !important

.mr-20
  margin-right: 20px

.ml-90
  margin-left: 90px

.content-hero
  padding-top: 5rem
  --maxWidth: 1440px
  max-width: var(--maxWidth)
  margin-left: auto
  margin-right: auto
  margin-bottom: -5rem

.taxonomy-title
  font-size: 48px;
  font-size: 2.6666666667rem;
  letter-spacing: -1px;
  line-height: 1.2em !important;
  line-height: 3.1111111111rem;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-color: #000 !important
  margin-top: 20px;

.accent-background
  background-color: #D44D5C