* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html {
    font-family: 'FT Polar', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 34px;
    color: #A6B9BE;
    letter-spacing: 0.1px
}

@media only screen and (max-width: 680px) {
    html {
        font-size:18px;
        line-height: 30px
    }
}

body {
    background: #1B1E27;
    overflow-x: hidden
}

html,body {
    height: 100%;
    width: 100%
}

a {
    color: #A6B9BE;
    text-decoration: none;
    -o-transition: .5s !important;
    -ms-transition: .5s !important;
    -moz-transition: .5s !important;
    -webkit-transition: .5s !important;
    transition: .5s !important;
    -webkit-backface-visibility: hidden !important;
    transition-timing-function: ease-in-out !important
}

a.pill {
    display: block;
    margin-top: 50px;
    background: #FCF9F7;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    padding: 16px 40px 18px 40px;
    color: #2A3B49;
    border-radius: 32px;
    width: fit-content;
    -o-transition: .5s !important;
    -ms-transition: .5s !important;
    -moz-transition: .5s !important;
    -webkit-transition: .5s !important;
    transition: .5s !important;
    -webkit-backface-visibility: hidden !important;
    transition-timing-function: ease-in-out !important
}

a.pill:hover {
    background: #A6B9BE
}

p {
    margin-bottom: 30px
}

p:last-child {
    margin-bottom: 0
}

.paragraph strong {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    color: #FCF9F7
}

@media only screen and (max-width: 1440px) {
    .paragraph strong {
        font-size:24px;
        line-height: 34px
    }
}

@media only screen and (max-width: 680px) {
    .paragraph strong {
        font-size:22px;
        line-height: 32px
    }
}

.paragraph strong em {
    font-style: normal;
    color: #A6B9BE
}

.paragraph.bold {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px
}

@media only screen and (max-width: 680px) {
    .paragraph.bold {
        font-size:22px;
        line-height: 32px
    }
}

h1 {
    display: none
}

h2 {
    font-family: 'FT Polar', sans-serif;
    font-style: normal;
    font-size: 80px;
    line-height: 80px;
    font-weight: bold;
    color: #A6B9BE;
    margin-bottom: 35px
}

h2 strong {
    color: #FCF9F7
}

@media only screen and (max-width: 1440px) {
    h2 {
        font-size:60px;
        line-height: 64px
    }

    h2 br {
        display: none
    }
}

@media only screen and (max-width: 680px) {
    h2 {
        font-size:50px;
        line-height: 52px
    }
}

h2.margin-bottom {
    margin-bottom: 50px
}

h3 {
    font-family: 'FT Polar', sans-serif;
    font-style: normal;
    font-size: 60px;
    line-height: 70px;
    font-weight: bold;
    color: #A6B9BE
}

@media only screen and (max-width: 680px) {
    h3 {
        font-size:50px;
        line-height: 52px
    }
}

h3 strong {
    color: #FCF9F7
}

input {
    -webkit-appearance: none
}

.background {
    background: url(https://b4e.com/wp-content/themes/vault-v2/assets/pattern.svg);
    background-repeat: repeat;
    background-size: 1000px 1000px
}

.background.intro-background {
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 0
}

.shape {
    background: url(../../assets/shape.svg);
    background-size: cover;
    position: absolute;
    bottom: calc(-50vw + 2px);
    width: 50vw;
    height: 60vw;
    z-index: 1;
    left: 50vw
}

@media only screen and (max-width: 980px) {
    .shape {
        bottom:auto;
        top: 15vh
    }
}

.false-background {
    background: #1B1E27;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1
}

.bring-to-front {
    position: relative;
    z-index: 2
}

.small-width,.medium-width,.large-width {
    padding: 0 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

.small-width {
    max-width: 770px
}

.medium-width {
    max-width: 860px
}

.large-width {
    max-width: 990px
}

.center-text {
    text-align: center
}

.body {
    margin-bottom: 100px;
    position: relative;
    margin-top: 15vw;
    display: inline-block
}

@media only screen and (max-width: 680px) {
    .body {
        margin-bottom:0
    }
}

.body.full-page {
    margin: 0;
    width: 100%
}

.body.block {
    display: block
}

.safari-fix {
    display: none;
    width: 100%;
    height: 100px;
    background: transparent
}

@media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
        .safari-fix {
            display:block
        }

        @media only screen and (max-width: 680px) {
            .safari-fix {
                display:none
            }
        }

        .body {
            margin-bottom: 0
        }
    }
}

.logo {
    width: 204px;
    height: 33px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50
}

.logo svg {
    width: 100%;
    height: auto
}

@media only screen and (max-width: 680px) {
    .logo {
        top:25px;
        width: 150px;
        height: auto
    }
}

.nav-icon {
    position: fixed;
    z-index: 100;
    top: 105px;
    left: 100px
}

@media only screen and (min-width: 1800px) {
    .nav-icon {
        left:50%;
        margin-left: -800px
    }
}

@media only screen and (max-width: 770px) {
    .nav-icon {
        left:50px
    }
}

@media only screen and (max-width: 680px) {
    .nav-icon {
        left:30px;
        top: 30px
    }
}

.nav-icon .icon {
    cursor: pointer;
    width: 60px;
    height: 19px
}

.nav-icon .icon span {
    position: absolute;
    background: #F3EFEB;
    height: 3px;
    -o-transition: .25s !important;
    -ms-transition: .25s !important;
    -moz-transition: .25s !important;
    -webkit-transition: .25s !important;
    transition: .25s !important;
    -webkit-backface-visibility: hidden !important;
    transition-timing-function: ease-in-out !important
}

.nav-icon .icon span:first-child {
    width: 60px;
    top: 0
}

.nav-icon .icon span:last-child {
    width: 50px;
    bottom: 0
}

.nav-icon .icon:hover span:first-child {
    width: 50px;
    top: 0
}

.nav-icon .icon:hover span:last-child {
    width: 60px;
    bottom: 0
}

.nav-icon .icon.open span:last-child {
    width: 0
}

nav {
    background: rgba(27,30,39,0.5);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    width: 100vw;
    height: 100vh;
    top: 0;
    position: fixed;
    z-index: 1;
    opacity: 0;
    display: none;
    -o-transition: .5s !important;
    -ms-transition: .5s !important;
    -moz-transition: .5s !important;
    -webkit-transition: .5s !important;
    transition: .5s !important;
    -webkit-backface-visibility: hidden !important;
    transition-timing-function: ease-in-out !important
}

nav.front {
    z-index: 99
}

nav.fade {
    opacity: 1
}

nav.show {
    display: block
}

nav main {
    height: 100vh
}

nav main .icon {
    -o-transition: .5s !important;
    -ms-transition: .5s !important;
    -moz-transition: .5s !important;
    -webkit-transition: .5s !important;
    transition: .5s !important;
    -webkit-backface-visibility: hidden !important;
    transition-timing-function: ease-in-out !important;
    opacity: 0
}

nav main .icon.fade {
    opacity: 1
}

nav main .links a {
    font-size: 80px;
    line-height: 80px;
    font-weight: bold;
    color: #FCF9F7;
    margin-top: 35px;
    position: relative;
    display: inline-block;
    -o-transition: .5s !important;
    -ms-transition: .5s !important;
    -moz-transition: .5s !important;
    -webkit-transition: .5s !important;
    transition: .5s !important;
    -webkit-backface-visibility: hidden !important;
    transition-timing-function: ease-in-out !important;
    opacity: 0;
    margin-left: 30px
}

@media only screen and (max-width: 1440px) {
    nav main .links a {
        font-size:60px;
        line-height: 64px
    }
}

@media only screen and (max-width: 770px) {
    nav main .links a {
        font-size:40px;
        line-height: 40px
    }
}

nav main .links a.fade {
    opacity: 1;
    margin-left: 0
}

nav main .links a:after {
    -o-transition: .5s !important;
    -ms-transition: .5s !important;
    -moz-transition: .5s !important;
    -webkit-transition: .5s !important;
    transition: .5s !important;
    -webkit-backface-visibility: hidden !important;
    transition-timing-function: ease-in-out !important;
    content: "";
    position: absolute;
    height: 5px;
    width: 0;
    bottom: -7px;
    left: 0;
    background: #FCF9F7
}

nav main .links a:hover {
    color: #A6B9BE
}

nav main .links a:hover:after {
    background: #A6B9BE;
    width: 100%
}

nav .nav-footer {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    left: 100px;
    bottom: 50px;
    position: absolute
}

@media only screen and (min-width: 1800px) {
    nav .nav-footer {
        left:50%;
        margin-left: -800px
    }
}

@media only screen and (max-width: 770px) {
    nav .nav-footer {
        left:50px
    }
}

@media only screen and (max-width: 680px) {
    nav .nav-footer {
        left:30px;
        bottom: 30px
    }
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    padding: 0 100px;
    position: relative;
    max-width: 1800px;
    margin: 0 auto
}

main.column {
    flex-direction: column
}

main.column.left {
    align-items: baseline
}

main.column.middle {
    justify-content: center
}

main.thin {
    max-width: 750px
}

main.content {
    max-width: 1500px
}

@media only screen and (max-width: 770px) {
    main {
        padding:0 50px
    }
}

@media only screen and (max-width: 680px) {
    main {
        padding:0 30px
    }
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch
}

.flex.column {
    flex-direction: column
}

.flex.bottom {
    justify-content: flex-end
}

.cover-bg {
    background: #1B1E27;
    z-index: 1
}

.cover-bg.full {
    width: 100vw;
    height: 500px;
    position: relative
}

.cover-bg.left {
    width: 50vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0
}

.cover-bg.bottom {
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0
}

.video-bg {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    padding-top: 15vh;
    z-index: 2;
    position: relative
}

.video-bg .gradient {
    width: 100%;
    height: 100%;
    background: #000;
    background: linear-gradient(0deg, #1b1e27 0%, rgba(27,30,39,0.95) 20%, rgba(27,30,39,0.95) 80%, #1b1e27 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1
}

.video-bg .video {
    position: relative;
    overflow: hidden;
    z-index: 4;
    width: calc(100% - 200px);
    padding: 0 100px;
    height: 80vh;
    max-width: 1300px;
    margin: 0 auto;
    display: block
}

.video-bg .video:after {
    background: rgba(42,59,73,0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 2;
    content: ""
}

@media only screen and (max-width: 770px) {
    .video-bg .video {
        padding:0 50px;
        width: calc(100% - 100px);
        height: 60vh
    }
}

@media only screen and (max-width: 680px) {
    .video-bg .video {
        padding:0 30px;
        width: calc(100% - 60px);
        height: 40vh
    }
}

.video-bg .video .play-video {
    cursor: pointer;
    background-image: url(../../assets/play.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 112px;
    height: 112px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1);
    z-index: 3;
    -o-transition: .5s !important;
    -ms-transition: .5s !important;
    -moz-transition: .5s !important;
    -webkit-transition: .5s !important;
    transition: .5s !important;
    -webkit-backface-visibility: hidden !important;
    transition-timing-function: ease-in-out !important
}

@media only screen and (max-width: 680px) {
    .video-bg .video .play-video {
        width:70px;
        height: 70px
    }
}

.video-bg .video .video-still {
    position: absolute;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    transform: scale(1);
    z-index: 1;
    left: 0;
    -o-transition: .5s !important;
    -ms-transition: .5s !important;
    -moz-transition: .5s !important;
    -webkit-transition: .5s !important;
    transition: .5s !important;
    -webkit-backface-visibility: hidden !important;
    transition-timing-function: ease-in-out !important
}

.video-bg .video:hover .play-video {
    transform: translateX(-50%) translateY(-50%) scale(0.9)
}

.video-bg .video:hover .video-still {
    transform: scale(1.1)
}

.intro {
    height: 100vh;
    padding: 0 100px;
    max-width: 1800px;
    margin: 0 auto;
}

@media only screen and (max-width: 770px) {
    .intro {
        padding:0 50px
    }
}

@media only screen and (max-width: 680px) {
    .intro {
        padding:0 30px
    }
}

@media only screen and (max-height: 770px) {
    .intro {
        height:calc(100vh + 150px)
    }
}

.intro .flex {
    width: calc(50% - 100px);
    height: 100%;
    padding: 0 100px 100px 0
}

@media only screen and (max-width: 1200px) {
    .intro .flex {
        width:calc(50% - 50px);
        padding: 0 50px 100px 0
    }
}

@media only screen and (max-width: 980px) {
    .intro .flex {
        width:100%
    }
}

@media only screen and (max-width: 770px) {
    .intro .flex {
        padding:0;
        justify-content: center
    }
}

.intro h2 {
    max-width: 500px
}

.intro .paragraph {
    max-width: 650px
}

.intro .newsletter {
    margin-top: 50px
}

.cut-out {
    width: 100vw;
    position: relative;
    z-index: 2;
    margin-top: -1px
}

.cut-out .title-container {
    max-width: 896px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center
}

@media only screen and (max-width: 680px) {
    .cut-out .title-container {
        transform:translateX(-50%) translateY(-100%)
    }
}

.cut-out .title-container h2 {
    color: #2A3B49;
    margin-bottom: 0
}

@media only screen and (max-width: 1200px) {
    .cut-out .title-container h2 {
        font-size:50px;
        line-height: 54px
    }
}

@media only screen and (max-width: 680px) {
    .cut-out .title-container h2 {
        font-size:40px;
        line-height: 48px
    }
}

.cut-out .title-container h2 em {
    color: #A6B9BE;
    font-style: normal
}

.cut-out .title-container h2 strong {
    color: #FCF9F7
}

.cut-out .paragraph {
    max-width: 900px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center
}

.cut-out .paragraph strong {
    font-size: 40px;
    line-height: 50px
}

@media only screen and (max-width: 1440px) {
    .cut-out .paragraph strong {
        font-size:30px;
        line-height: 40px
    }
}

.cut-out svg {
    width: 100%;
    height: auto;
    display: block
}

@media only screen and (max-width: 770px) {
    .cut-out svg:last-child {
        margin-top:300px
    }
}

.cut-through {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    display: none
}

.cut-through .paragraph {
    max-width: 900px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center
}

.cut-through .paragraph strong {
    font-size: 40px;
    line-height: 50px
}

@media only screen and (max-width: 1440px) {
    .cut-through .paragraph strong {
        font-size:30px;
        line-height: 40px
    }
}

@media only screen and (max-width: 980px) {
    .cut-through .paragraph strong {
        font-size:24px;
        line-height: 32px
    }
}

.sticky {
    position: relative;
    width: 152px;
    height: 203px;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    opacity: 0;
    z-index: 1
}

.sticky svg {
    position: absolute
}

.sticky svg:nth-child(1) {
    top: 0;
    left: 0
}

.sticky svg:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    right: 0
}

.sticky svg:nth-child(3) {
    bottom: 0;
    left: 0
}

.sticky svg:nth-child(4) {
    top: 50%;
    transform: translateY(-50%);
    left: 0
}

.logo-animation {
    position: relative;
    margin: 100px auto 0 auto;
    text-align: center
}

.logo-animation img {
    display: inline-block
}

@media only screen and (max-width: 680px) {
    .logo-animation img {
        width:100% !important;
        height: auto !important
    }
}

.logo-motion {
    position: relative;
    width: 152px;
    height: 203px;
    margin: 200px auto 0 auto;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: forward;
    animation-duration: 3s;
    animation-name: spin
}

.logo-motion svg {
    position: absolute;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: forward;
    animation-duration: 3s
}

.logo-motion svg:nth-child(1) {
    top: -100px;
    left: 0;
    animation-name: toppiece
}

.logo-motion svg:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    right: -100px;
    animation-name: rightpiece
}

.logo-motion svg:nth-child(3) {
    bottom: -100px;
    left: 0;
    animation-name: bottompiece
}

.logo-motion svg:nth-child(4) {
    top: 50%;
    transform: translateY(-50%);
    left: -100px;
    animation-name: leftpiece
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }

    60% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes toppiece {
    0% {
        top: -100px
    }

    40% {
        top: 0px
    }

    60% {
        top: 0px
    }

    100% {
        top: -100px
    }
}

@keyframes rightpiece {
    0% {
        right: -100px
    }

    40% {
        right: 0px
    }

    60% {
        right: 0px
    }

    100% {
        right: -100px
    }
}

@keyframes bottompiece {
    0% {
        bottom: -100px
    }

    40% {
        bottom: 0px
    }

    60% {
        bottom: 0px
    }

    100% {
        bottom: -100px
    }
}

@keyframes leftpiece {
    0% {
        left: -100px
    }

    40% {
        left: 0px
    }

    60% {
        left: 0px
    }

    100% {
        left: -100px
    }
}

.faq-title {
    max-width: 550px;
    margin: 250px auto 100px auto;
    text-align: center
}

@media only screen and (max-width: 770px) {
    .faq-title {
        padding:0 50px;
        margin: 150px auto 100px auto
    }
}

@media only screen and (max-width: 680px) {
    .faq-title {
        max-width:440px;
        padding: 0 30px
    }
}

.group {
    width: 100%;
    margin-bottom: 100px
}

.group .title {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: #FCF9F7;
    padding-bottom: 30px;
    border-bottom: 1px solid white
}

@media only screen and (max-width: 770px) {
    .group .title {
        font-size:30px;
        line-height: 40px
    }
}

@media only screen and (max-width: 770px) {
    .group {
        margin-bottom:50px
    }
}

.group .sector {
    width: 100%;
    border-bottom: 1px solid white
}

.group .sector .sector-question {
    font-size: 28px;
    line-height: 34px;
    font-weight: 600;
    padding: 18px 0 23px 0;
    cursor: pointer;
    -o-transition: .5s !important;
    -ms-transition: .5s !important;
    -moz-transition: .5s !important;
    -webkit-transition: .5s !important;
    transition: .5s !important;
    -webkit-backface-visibility: hidden !important;
    transition-timing-function: ease-in-out !important;
    position: relative
}

@media only screen and (max-width: 770px) {
    .group .sector .sector-question {
        font-size:22px;
        line-height: 28px
    }
}

.group .sector .sector-question:after {
    -o-transition: .5s !important;
    -ms-transition: .5s !important;
    -moz-transition: .5s !important;
    -webkit-transition: .5s !important;
    transition: .5s !important;
    -webkit-backface-visibility: hidden !important;
    transition-timing-function: ease-in-out !important;
    position: absolute;
    right: 0;
    top: 29px;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #FCF9F7;
    opacity: 0
}

.group .sector .sector-question:hover {
    color: #FCF9F7
}

.group .sector .sector-question:hover:after {
    opacity: 1
}

.group .sector .sector-question.open {
    color: #FCF9F7 !important
}

.group .sector .sector-question.open:after {
    opacity: 1 !important;
    transform: rotate(180deg)
}

.group .sector .sector-answer {
    display: none;
    font-size: 22px;
    line-height: 34px;
    font-weight: normal;
    color: #FCF9F7;
    margin: 20px 0 100px 0;
    max-width: 1000px
}

@media only screen and (max-width: 770px) {
    .group .sector .sector-answer {
        margin-bottom:50px
    }
}

.contact {
    height: calc(100vh - 142px);
    align-items: center
}

@media only screen and (max-width: 980px) {
    .contact {
        height:auto;
        flex-direction: column;
        text-align: center;
        margin: 250px 0 100px 0
    }
}

@media only screen and (max-width: 680px) {
    .contact {
        margin:150px 0 100px 0
    }
}

.contact .left {
    width: 100%;
    max-width: 610px;
    margin-right: 100px
}

@media only screen and (max-width: 980px) {
    .contact .left {
        margin-bottom:100px;
        align-items: center;
        max-width: none;
        margin-right: 0
    }
}

.contact .left svg {
    display: inline-block
}

.contact .left h3 {
    margin-top: 30px;
    margin-bottom: 20px
}

.contact .left .paragraph {
    max-width: 550px
}

.contact .right {
    margin-left: auto;
    max-width: 610px;
    text-align: left
}

@media only screen and (max-width: 1200px) {
    .contact .right {
        max-width:400px
    }
}

@media only screen and (max-width: 980px) {
    .contact .right {
        max-width:none;
        width: 100%
    }
}

.contact .right .contact-form form {
    margin-top: 30px
}

.contact .right .contact-form form * {
    outline: none
}

.contact .right .contact-form form p {
    width: calc(50% - 25px);
    float: left
}

.contact .right .contact-form form p:nth-child(2),.contact .right .contact-form form p:nth-child(4) {
    margin-right: 50px
}

.contact .right .contact-form form p:nth-child(6) {
    width: 100%;
    clear: both
}

.contact .right .contact-form form p:nth-child(7) {
    margin-bottom: 0
}

@media only screen and (max-width: 680px) {
    .contact .right .contact-form form p {
        width:100%;
        margin-right: 0
    }
}

.contact .right .contact-form form p label {
    color: #A6B9BE;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase
}

.contact .right .contact-form form p label span input,.contact .right .contact-form form p label span textarea {
    font-family: 'FT Polar', sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FCF9F7;
    padding-top: 15px;
    padding-bottom: 10px;
    background: none;
    border: 0;
    border-bottom: 1px solid #707070;
    width: 100%;
    resize: none
}

.contact .right .contact-form form p label span textarea {
    height: 100px
}

.contact .right .contact-form form p label span span {
    margin-top: 15px
}

.contact .right .contact-form form p input[type="submit"] {
    color: #2A3B49;
    font-weight: bold;
    border-radius: 32px;
    font-family: 'FT Polar', sans-serif;
    font-size: 20px;
    line-height: 24px;
    padding: 15px 30px 18px 30px;
    border: 0;
    cursor: pointer;
    -o-transition: .5s !important;
    -ms-transition: .5s !important;
    -moz-transition: .5s !important;
    -webkit-transition: .5s !important;
    transition: .5s !important;
    -webkit-backface-visibility: hidden !important;
    transition-timing-function: ease-in-out !important
}

.contact .right .contact-form form p input[type="submit"]:hover {
    background: #A6B9BE
}

.contact .right .contact-form form p input[type="submit"]:disabled {
    background: #2A3B49;
    cursor: auto;
    color: #FCF9F7
}

.contact .right .contact-form form p input[type="submit"]:disabled:hover {
    background: #2A3B49
}

.contact .right .contact-form form p ::-webkit-input-placeholder {
    color: #434a51
}

.contact .right .contact-form form p :-ms-input-placeholder {
    color: #434a51
}

.contact .right .contact-form form p ::placeholder {
    color: #434a51
}

.wpcf7-response-output {
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 20px;
    line-height: 28px;
    color: #FCF9F7
}

footer {
    padding-top: 240px;
    text-align: center;
    background: #1B1E27;
    position: relative;
    z-index: 2
}

footer.home {
    padding-top: 100px !important
}

@media only screen and (max-width: 980px) {
    footer.home {
        padding:100px 50px 0 50px !important
    }
}

@media only screen and (max-width: 770px) {
    footer.home {
        padding:50px 30px 0 30px !important
    }
}

@media only screen and (max-width: 980px) {
    footer {
        padding:240px 50px 0 50px
    }
}

@media only screen and (max-width: 770px) {
    footer {
        padding:150px 30px 0 30px
    }
}

footer.full-page {
    padding-top: 0
}

footer h3 {
    max-width: 1040px;
    margin: 0 auto
}

footer .paragraph {
    margin-top: 30px;
    margin-bottom: 60px
}

footer .newsletter {
    display: inline-block
}

footer .full-logo {
    margin-top: 240px;
    margin-bottom: 100px
}

@media only screen and (max-width: 770px) {
    footer .full-logo {
        margin-top:150px;
        margin-bottom: 20px
    }
}

footer .footer-nav {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold
}

@media only screen and (max-width: 770px) {
    footer .footer-nav {
        flex-direction:column;
        padding-bottom: 50px
    }

    footer .footer-nav p {
        margin-bottom: 15px
    }
}

footer .footer-nav .links {
    margin-left: auto
}

footer .footer-nav .links li {
    display: inline-block;
    margin-left: 40px
}

footer .footer-nav .links li a:hover {
    color: #FCF9F7
}

@media only screen and (max-width: 770px) {
    footer .footer-nav .links {
        margin-left:0
    }

    footer .footer-nav .links li {
        margin: 0 20px
    }
}

.sub-footer {
    background-image: url(../../assets/pattern.svg);
    background-size: cover;
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 0
}

@media only screen and (max-width: 680px) {
    .sub-footer {
        position:relative;
        display: block !important;
        z-index: 2
    }
}

.newsletter {
    display: block;
    position: relative;
    width: 100%;
    max-width: 472px
}

@media only screen and (max-width: 680px) {
    .newsletter {
        max-width:none
    }
}

.newsletter span {
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
    text-align: left
}

.newsletter input[type="email"] {
    outline: none !important;
    font-family: 'FT Polar', sans-serif;
    background: white;
    border-radius: 32px;
    border: 0;
    padding: 16px 30px 18px 30px;
    width: 100%;
    font-size: 20px;
    line-height: 30px
}

.newsletter input[type="submit"] {
    outline: none !important;
    font-family: 'FT Polar', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    border-radius: 32px;
    border: 0;
    padding: 14px 30px 16px 30px;
    background: #1B1E27;
    color: #FCF9F7;
    cursor: pointer;
    -o-transition: .25s !important;
    -ms-transition: .25s !important;
    -moz-transition: .25s !important;
    -webkit-transition: .25s !important;
    transition: .25s !important;
    -webkit-backface-visibility: hidden !important;
    transition-timing-function: ease-in-out !important
}

.newsletter input[type="submit"]:hover {
    background: #2B3B49
}

.newsletter ::-webkit-input-placeholder {
    color: #A6B9BE
}

.newsletter :-ms-input-placeholder {
    color: #A6B9BE
}

.newsletter ::placeholder {
    color: #A6B9BE
}

.video {
    margin-top: 75px
}

@media only screen and (max-width: 680px) {
    .video {
        margin-top:25px
    }
}

.slogan {
    margin-top: 300px
}

@media only screen and (max-width: 680px) {
    .slogan {
        margin-top:100px
    }
}

#mce-responses {
    position: absolute;
    margin-top: 30px;
    font-size: 14px;
    line-height: 18px
}

.success,.error {
    position: absolute;
    margin-top: 20px;
    font-size: 16px;
    display: none
}

.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #1B1E27;
    top: 0;
    left: 0;
    z-index: 10000000
}
