{{ $pages := .Pages }}
<div class="grid-1 wrap content-hero">
    {{ partial "slider-2" . }}
</div>

<div class="grid-inverse wrap content">
    <div class="grid-1">
        <div class="articles panel">
            {{ $pages = where .Site.Pages ".Params.news_post" true | first 5 }}
            <div class="title-wrap main-title">
                <div class="taxonomy-title">
                    <span class="mt-4">Latest News</span>
                </div>
                <a class="title-link" href="/post/">View all</a>
            </div>
            <ul class="grid-2 posts" id="posts">
                {{- range $index, $name := (.Paginate $pages).Pages }}
                    {{ if eq $index 0 }}
                        {{ partial "excerpt-1" . }}
                    {{ end }}
                {{- end }}
                <div class="grid-1">
                    {{- range $index, $name := (.Paginate $pages).Pages }}
                        {{ if ne $index 0 }}
                            {{ partial "excerpt-2" . }}
                        {{ end }}
                    {{- end }}
                </div>
            </ul>
        </div>

        <div class="grid-2 articles">
            {{- range $key, $value := .Site.Taxonomies.series }}
                <ul class="panel">
                    <div class="title-wrap main-title">
                        <div class="taxonomy-title">
                            <span class="mt-4">{{humanize $key | title}}</span>
                        </div>
                        <a class="title-link" href="/series/{{$key}}">View all</a>
                    </div>
                    <div class="grid-1 posts">
                        {{ range $i, $item := first 5 $value }}
                            {{ if eq $i 0 }}
                                {{ partial "excerpt-1" . }}
                            {{ end }}
                        {{- end }}
                    </div>

                    <div class="grid-1 posts mt-1">
                        {{ range $i, $item := first 5 $value }}
                            {{ if ne $i 0 }}
                                {{ partial "excerpt-2" . }}
                            {{ end }}
                        {{- end }}
                    </div>
                </ul>
            {{- end }}
        </div>
    </div>
    {{- partial "sidebar" . }}
</div>
