{{- $params := .Site.Params }}
{{- $authors := .Site.Data.authors }}

<li class="post_item">
    <div class="article col col-4 col-d-6 col-t-12 animate">
        <div class="article__inner">
            {{/* {{- if (eq .Featured true) }}
            <ion-icon class="featured-post" name="star-outline"></ion-icon>
            {{ end }} */}}

            <a class="article__image" href="{{ .Permalink }}">
                {{- with .Params.thumbnail }}
                {{- partial "image" (dict "file" . "alt" $.Title "type" "thumbnail" "Page" $.Page ) }}
                {{- end }}
            </a>
            <div class="article__content">
                <div class="article__meta">
                    {{/* <span class="article__minutes">
                    {{ range $index, $name := .Params.categories -}}
                      <a href="{{ (printf "/categories/%s/" $name) | urlize }}" class="">{{ upper $name }}</a>
                    {{- end }} |
                  </span> */}}
                    <span class="article__minutes">
                    {{ range $index, $name := .Params.categories -}}
                      <a href="{{ (printf "/categories/%s/" $name) | urlize }}" class="post_tag button button_accent">{{ humanize $name | title }}</a>
                        {{- end }}
                  </span>
                    <time class="article__date" datetime="2018-11-05T12:01:35+00:00">{{ dateFormat "January 02, 2006"
                        .Date }}
                    </time>
                </div>
                <h2 class="article__title">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </h2>
                <p class="article__excerpt">
                    {{- $summary := truncate 120 .Summary }}
                    {{- if .Params.summary }}
                    {{- $summary = .Params.summary }}
                    {{- else if .Params.abstract }}
                    {{ $summary = .Params.abstract }}
                    {{- end }}
                    {{ if not ( strings.Contains $summary "
                <p>" ) }}
                    {{ $summary | markdownify }}
                    {{ else }}
                    {{ $summary | markdownify }}
                    {{ end }}
                </p>
                <div class="article__bottom">
                    <div class="article__bottom-meta">
                        {{ with .Params.author }}
                        {{ range $i, $n := . -}}
                        {{ $name := urlize $n}}
                        {{ $data := index $authors $name }}
                        {{ $image := strings.TrimPrefix "/static" $data.image }}
                        <div class="article__author">
                            <img class="article__author-image lazy loaded"
                                 alt="{{ $data.name }}'s Picture" data-ll-status="loaded" src="{{ absURL $image }}">
                            <span class="article__author-link">{{ $data.name }}</span>
                        </div>
                        {{- end }}
                        {{- end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
