{{- $s := .Site.Params }}
{{ $t := .Site.Title }}
{{- if or .Params.enableMathNotation $s.enableMathNotation }}
  {{ partialCached "math" . }}
{{- end }}
{{- $defaultFooterLogo := printf "%s" "logos/logo.png"}}
<footer class="footer">
  <div class="footer_inner wrap pale">
    <img src='{{ absURL (default $defaultFooterLogo $s.footerLogo) }}' id="footer-logo" class="footer_image" alt="{{ $t }}">
    <p class="footer-copyright">{{ T "copyright" | markdownify }}{{ with $s.since }}&nbsp;{{ . }}-{{ end }}&nbsp;<span class="year"></span>&nbsp;{{ upper $t }}. {{ T "all_rights" | markdownify }}</p>
    {{- partialCached "top" .}}
  </div>
</footer>

{{/*  <footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <img src='{{ absURL (default $defaultFooterLogo $s.footerLogo) }}' id="footer-logo" class="footer_image" alt="{{ $t }}">
      </div>
      <div class="footer-col">
        <h4>top tags</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">shipping</a></li>
          <li><a href="#">returns</a></li>
          <li><a href="#">order status</a></li>
          <li><a href="#">payment options</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>top categories</h4>
        <ul>
          <li><a href="#">watch</a></li>
          <li><a href="#">bag</a></li>
          <li><a href="#">shoes</a></li>
          <li><a href="#">dress</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          {{ partialCached "follow" . }}
        </div>
      </div>
    </div>
  </div>
</footer>  */}}
