{{ $pages := .Pages }}
{{ if eq site.Params.pinFeatured true }}
    {{ $featured := default 8 site.Params.numberOfPinnedPosts }}
    {{ $featuredPosts := first $featured (where $pages "Params.featured" true)}}
    {{ $normalPosts := $pages | symdiff $featuredPosts }}
    {{ $pages = $featuredPosts | append $normalPosts }}
{{ end }}


<div class="grid-inverse wrap content">
    <div class="articles panel">
        {{ if eq .IsHome false }}
            <div class="title-wrap main-title">
                <div class="taxonomy-title">
                    <span class="mt-4">
                        {{ if .Data.Term }}
                            {{ humanize .Data.Term | title }}
                        {{ else }}
                            {{ $pages = where .Site.Pages ".Params.news_post" true }}
                            All News
                        {{ end }}
                    </span>
                </div>
            </div>
        {{ else }}
            {{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
            <div class="title-wrap main-title">
                <div class="taxonomy-title">
                    <span class="mt-4">Latest News</span>
                </div>
                <a class="title-link" href="/post">View all</a>
            </div>
        {{ end }}
        <ul class="grid-2 posts" id="posts">
            {{- range (.Paginate $pages).Pages }}
                {{ partial "excerpt-1" . }}
            {{- end }}
        </ul>
        <div class="center">
            {{- template "_internal/pagination.html" . }}
        </div>
    </div>
    {{- partial "sidebar" . }}
</div>
