{{ $count := 0 }}
{{- $link := .context.Permalink }}
{{- $url := "" }}
{{- $name := "" }}
{{- $forwardSlash := "/" }}
{{- $children := false }}
{{- $menu := .menu }}
{{- $categories := .data.categories }}

<div class="nav_parent{{ if eq (trim (absLangURL $url) $forwardSlash) (trim $link $forwardSlash) }} nav_active{{ end}}">
    <i class="material-icons medium"> home </i>
    <a href='/' class="nav_item" title="{{ $name }}">
        Home
    </a>
</div>
<div class="nav_parent{{ if eq (trim (absLangURL "categories") $forwardSlash) (trim $link $forwardSlash) }} nav_active{{ end}}">
    <i class="material-icons medium"> widgets </i>
    <a href='{{ absLangURL "categories" }}' class="nav_item" title="{{ $name }}">
        Categories
    </a>
    <div class="nav_sub">
        {{range $name, $taxonomy := $menu }}
            {{- $url = printf "%s/%s" "categories" $name }}
            {{ $count = add $count 1 }}
            {{- $color := "" }}
            {{ if le $count 8 }}
                {{range $categories }}
                    {{$category := .}}
                    {{ range $category }}
                        {{- $categoryName := .name | urlize }}
                        {{ if eq $categoryName $name }}{{ $color = .color }}{{ end }}
                    {{- end }}
                {{- end }}
                <div class="nav_child nav_item" style="border-left: .3rem solid {{$color}}">
                    <a href='{{ absLangURL "categories" }}/{{ (replace $name "#" "%23") | urlize }}/' class="nav_item"
                       title="{{ $name }}">
                        {{ humanize $name | title }}
                    </a>
                </div>
            {{- end }}
        {{- end }}
    </div>
</div>