{{- $showShare := ne (.Param "showshare") false }}
{{- $showDate := ne (.Param "showdate") false }}
{{- $showAuthor := ne (.Param "author") false }}
{{- $authors := .Site.Data.authors }}
{{- $showReadTime := ne (.Param "showreadtime") false }}
{{- $showPostMeta := or ($showShare) ($showDate) ($showReadTime) (isset .Params "tags") }}
{{- $scratch := newScratch }}
{{- $scratch.Set "writeSeparator" false }}
{{- if $showPostMeta }}
<div class="post_meta">
    {{- end }}
    {{- if $showDate }}
    <span>{{ partial "sprite" (dict "icon" "calendar") }}</span>
    <span class="post_date">
    {{ .Date.Format (default "Jan 2, 2006" $.Site.Params.dateFormat) -}}
  </span>
    {{- $scratch.Set "writeSeparator" true }}
    {{- end }}

    {{- if $showAuthor }}
    <span>{{ partial "sprite" (dict "icon" "person") }}</span>
    <span class="post_date">
      {{- with .Params.author -}}
        {{ range $i, $n := . -}}
          {{ $name := urlize $n}}
          {{ $data := index $authors $name }}
          {{ $image := strings.TrimPrefix "/static" $data.image }}
          {{ humanize $data.name | title }}
        {{- end }}
      {{- end }}
    </span>
    {{- $scratch.Set "writeSeparator" true }}
    {{- end }}

    {{- if $showReadTime }}
      <span class="post_time">{{ if ($scratch.Get "writeSeparator") }} · {{ end }}{{ T "reading_time" . }}</span>
      {{- $scratch.Set "writeSeparator" true }}
    {{- end }}

    <span>
      {{- if ($scratch.Get "writeSeparator") }}&nbsp;· {{ end }}
        <a href='{{ absLangURL "categories/"}}{{.Params.categories | urlize }}' title="{{ .Params.categories }}"
           class="post_tag button button_translucent">
          {{ .Params.categories }}
        </a>
    </span>

    {{- $scratch.Set "writeSeparator" true }}
    {{- if $showShare }}
      <span class="page_only">{{ if ($scratch.Get "writeSeparator") }}&nbsp;·{{ end }}{{ partial "share" . }}</span>
      {{- $scratch.Set "writeSeparator" true }}
    {{- end }}
    {{- if $showPostMeta }}
</div>
{{- end }}
