{{- $bundle := partialCached "func/getJavascriptBundle" . }}
<script type="text/javascript" src="{{ $bundle.Permalink }}" integrity="{{ $bundle.Data.Integrity }}" crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js'></script>
<script src='js/slideshow.js'></script>
{{- partial "search/scripts" . }}
{{- with site.Params.customJS }}
  {{- range . -}}
  <script type="text/javascript" src="{{ relURL . }}"></script>
  {{- end }}
{{- end }}