{{ $s := site.Params }}
{{ $p := .Params }}
<aside class="sidebar">
    <section class="sidebar_inner">
        {{- $posts := where .Site.RegularPages "Type" "in" $s.mainSections }}
        {{- $featured := default 8 $s.numberOfFeaturedPosts }}
        {{- $featuredPosts := first $featured (where $posts "Params.categories" $p.categories )}}

        <!--Featured Posts-->
        {{- with $featuredPosts }}
            <div class="panel fixed">
                <div class="title-wrap main-title">
                    <div class="taxonomy-title">
                        {{ $p.categories }}
                    </div>
                </div>
                {{- range .  | first 4 }}
                    {{ partial "excerpt-2" . }}
                {{- end }}
            </div>
        {{- end }}
    </section>
</aside>
