<main class="main-content">
    <section class="slideshow" data-transition="fade">
        <div class="slideshow-inner">
            <div class="slides">
                {{- $scratch := newScratch }}
                {{ range $index, $value := first 5 (where (where .Site.RegularPages "Type" "in"
                site.Params.mainSections) ".Params.featured" "=" true) }}
                    {{ $scratch.Set "image" .Params.featureImage }}
                    {{ $image := $scratch.Get "image" }}
                    {{ $url := $value.Permalink }}
                    {{ $bg := (printf "%s%s" $url $image) }}
                    {{- if in $image "https://" }}
                        {{- $bg = $image }}
                    {{- end }}
                    {{ if eq $index 0 }}
                        <div class="slide is-active ">
                    {{ else }}
                            <div class="slide ">
                    {{ end }}
                                {{ partial "excerpt-3" . }}
                            </div>
                    {{ end }}
                        </div>
                <div class="sp">
                    {{ range $index, $value := first 5 (where (where .Site.RegularPages "Type" "in"
                    site.Params.mainSections) ".Params.featured" "=" true) }}
                    {{ if eq $index 0 }}
                    <div class="item is-active">{{ else }}
                        <div class="item">{{ end }}
                            <span class="icon">{{ $index }}</span>
                        </div>
                        {{ end }}
                    </div>
                </div>
    </section>
</main>