<main class="main-content">
    <section class="slideshow" data-transition="fade" >
        <div class="slideshow-inner">
            <div class="slides">
                {{- $scratch := newScratch }}
                {{ range $index, $value := first 3 (where (where .Site.RegularPages "Type" "in" site.Params.mainSections) ".Params.featured" "=" true) }}
                    {{ $scratch.Set "image" .Params.featureImage }}
                    {{ $image := $scratch.Get "image" }}
                    {{ $url := $value.Permalink }}
                    {{ $bg := (printf "%s%s" $url $image) }}
                    {{- if in $image "https://" }}
                        {{- $bg = $image }}
                    {{- end }}
                    {{ if eq $index 0 }}<div class="slide is-active ">{{ else }}<div class="slide ">{{ end }}
                        <a href='{{ $value.Permalink }}' target="_self">
                            <div class="slide-content">
                                <div class="caption">
                                    <div class="title">{{ $value.Title }}</div>
                                    <div class="d-flex align-items-center">
                                        <div class="reading-time color-main badge-bg-color-blue-nav-active">
                                            <span class="reading-time__minutes ">{{ math.Round (div (countwords
                                                .Content) 220.0) }}
                                            </span> min read 
                                        </div>
                                        <span class="date">
                                            {{ dateFormat "January 02, 2006" $value.Date }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="image-container">
                                <img src='{{ $bg }}' alt="" class="image" />
                            </div>
                        </a>
                    </div>
                {{ end }}
            </div>
            <div class="pagination">
                {{ range $index, $value := first 3 (where (where .Site.RegularPages "Type" "in" site.Params.mainSections) ".Params.featured" "=" true) }}
                    {{ if eq $index 0 }}<div class="item is-active">{{ else }}<div class="item">{{ end }}
                            <span class="icon">{{ $index }}</span>
                    </div>
                {{ end }}
            </div>
        </div>
    </section>
</main>