{{ define "main" }}

<style>
  .grid-container {
    display: flex;
    flex-direction: row;
    width: 100%
  }
  .grid-child {
    width: 100%;
  }
  
  @media (max-width: 600px) {
    .grid-container { flex-direction: column; }
  }
</style>

  {{- partial "slider" . }}
  {{- partial "categories" . }}

  {{ partial "list" (dict "page" . "group" "htb" "category" "write-ups" ) }}
  {{ partial "list" (dict "page" . "group" "news" "category" "" ) }}



  <div class="wrap">
    {{- partial "pager" . }}
  </div>
{{ end }}