{{ define "main" }}

<style>
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 300px);
    grid-gap: 10px;
    width: 100%
  }
  @media (max-width: 600px) {
    .grid-container { grid-template-columns: repeat(1, 1fr); }
  }
</style>

  {{- partial "slider" . }}
  {{- partial "categories" . }}

  <div class='wrap'>
    <div class="grid-container">
      <div class="grid-child">
        {{ partial "list" (dict "page" . "group" "htb" "category" "write-ups" ) }}
      </div>
      <div class="grid-child">
        {{ partial "list" (dict "page" . "group" "news" "category" "" ) }}
      </div>
    </div>
  </div>



  <div class="wrap">
    {{- partial "pager" . }}
  </div>
{{ end }}