{{- $options := (dict "targetPath" "css/styles.css" "outputStyle" "expanded" "enableSourceMap" "true") -}}
{{ $mainSassFile :=  "sass/_footer.sass" }}
{{- $styles := resources.Get $mainSassFile | resources.ExecuteAsTemplate $mainSassFile . | resources.ToCSS $options | resources.Fingerprint "sha512" }}
<link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}">




{{/*  <footer class="footer wrap pale">
  <p>&copy;&nbsp;<span class="year"></span>&nbsp;{{ .Site.Title }}</p>
  <p class="attribution upcase">{{ safeHTML (T "designed_by" .Site.Data.designer) }}</p>
</footer>  */}}


{{ $scriptPath := "js/index.js" }}
{{ $scripts := resources.Get $scriptPath | resources.ExecuteAsTemplate $scriptPath . | resources.Minify | resources.Fingerprint "sha512" }}
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
<script src='js/slideshow.js'></script>
<script src="{{ $scripts.Permalink }}"></script>
