{{ define "main" }}
<div class='wrap'>
    {{- $pages := site.RegularPages.RelatedTo ( keyVals "tags" .Title ) }}

    <div class="widget__head">
        <h3 class="widget__title">{{ upper .Title }}</h3>
    </div>
    
    <div class='grid-3'>
        {{- $paginator := .Paginate $pages -}}
        {{- $size := $paginator.PageSize }}
        {{- $scratch := newScratch }}
        {{- range $index, $value := $pages }}
            {{ if isset .Params "image" }}
                {{ $scratch.Set "image" .Params.image }}
                {{ $scratch.Set "author" .Params.author_image }}
            {{ else }}
                {{ $scratch.Set "image" "thumbnail.svg" }}
            {{ end }}
            {{ $image := $scratch.Get "image" }}
            {{ $author := $scratch.Get "author" }}
            {{ $url := $value.Permalink }}
            {{ $bg := (printf "%s/images/%s" $url $image) }}
            {{ $author := absURL (printf "%s/images/%s" $url $author) }}
            {{- if in $image "https://" }}
                {{- $bg = $image }}
            {{- end }}
            <div class="article col col-4 col-d-6 col-t-12 animate">
                <div class="article__inner">
                    {{- if (eq .Params.Featured true)  }}<ion-icon class="featured-post" name="star-outline"></ion-icon>{{ end }}

                    <a class="article__image" href="{{ $value.Permalink }}">
                        <img class="lazy loaded" alt="Background" data-ll-status="loaded"
                            src="{{ $bg }}">
                    </a>
                    <div class="article__content">
                        <div class="article__meta">
                            <span class="article__minutes">
                                2 min read
                            </span>
                            <time class="article__date" datetime="2018-11-05T12:01:35+00:00">{{ dateFormat "January 02, 2006" $value.Date }}</time>
                        </div>
                        <h2 class="article__title">
                            <a href="{{ $value.Permalink }}">{{ $value.Title }}</a>
                        </h2>
                        <p class="article__excerpt">
                            {{ .Summary }}
                        </p>
                        <div class="article__bottom">
                            <div class="article__author">
                                <a href="/about/" aria-label="Robert Wilson"><img class="article__author-image lazy loaded"
                                        alt="{{ .Params.Author }}'s Picture" data-ll-status="loaded" src="{{ $author }}"></a>
                            </div>
                            <div class="article__bottom-meta">
                                <a href="/about/" class="article__author-link">{{ .Params.Author }}</a>
                                <span>in</span>
                                <span class="article-tags">
                                    {{ range $index, $name := .Params.tags -}}
                                        <a href="{{ (printf "/tags/%s/" $name) | urlize }}" class="article__tag">{{ upper $name }}</a>
                                    {{- end }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{- end }}
    </div>
</div>
{{ end }}